extends layout

block content
  h1= title
  a.install(href='/javascripts/jisho-phrase-stasher.user.js') Install Userscript
  button#undo(title="restore previously deleted phrases") ← Undo
  button#stop(title="stop audio synthesis") ■ Stop
  table#list
      thead
          tr
              th Phrase
              th Actions
      tbody#listbody
  script#rowTemplate(type='text/template').
      <td>{{phrase}}</td>
      <td>
          <button data-action=read data-id={{id}} title="Read this full sentence out loud">Read</button>
          <button data-action=jisho data-id={{id}} title="Look this sentence up on Jisho.org">Jisho</button>
          <button data-action=delete data-id={{id}} title="Delete this sentence">Delete</button>
      </td>
  script(src='/javascripts/speech.js')
  script(src='/javascripts/ui.js')
