doctype html
html
    head
        title= title
        link(rel='icon', href='favicon.png')
        link(rel='stylesheet', href='stylesheets/style.css')
        script(src='socket.io/socket.io.js')
        script(src='javascripts/handlebars.js')
    body
        block content
