doctype html
html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(property='og:site_name', content=site)
        meta(property='og:image', content='/favicon.png')
        meta(property='og:description', content=description)
        meta(name='description', content=description)
        meta(property='og:url', content='https://context.reviews')

        style.
            body {
                background: #0b0f15;
                opacity: 0;
            }
        link(rel='icon', href='favicon.png')
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    body
        block content
