doctype html
html
    head
        title= title
        style.
            body {
                background: #0b0f15;
                opacity: 0;
            }
        link(rel='icon', href='favicon.png')
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    body
        block content
