body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

tr {
    font-size: 20px;
}
tr:hover {
    background-color: #586c79;
    color: white;
}
