doctype html
html
    head
        title #{title} Privacy Policy
        style.
            body {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            main {
                max-width: 60rem;
            }
        link(rel='icon', href='favicon.png')
    body
        main
            a(href="https://www.iubenda.com/privacy-policy/48655483", class="iubenda-white iubenda-embed iub-body-embed", title="Privacy Policy")
                Privacy Policy
            script.
                (function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);
