$buttonBG: #0a121563;
$hoverLightenPercent: 10%;
button, input[type=submit], .button {
    text-decoration: none;
    display: inline-block;
    border-radius: 0.2rem;
    background: none;
    border: none;
    color: var(--accent-blue);
    cursor: pointer;
    padding: 0.7rem;
    margin: 0.2rem;
    line-height: 1;
    font-weight: bold;
    font-size: 0.9rem;
    transition: color 0.15s, background 0.15s;
    &:hover:enabled {
        background: lighten($buttonBG, $hoverLightenPercent);
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem solid var(--input-focus-color);
    }
}

button.primary, .button.primary {
    color: white;
    background: var(--accent-gradient);

    &:hover:not(:disabled) {
        background: var(--accent-gradient-light);
    }
}
button:disabled, button.primary:disabled {
    color: black;
    background: none;
    cursor: auto;
}

button.danger:not(:disabled) {
    background: var(--accent-red);
    color: black;
    &:hover {
        background: var(--accent-red-bright);
    }
}

button.small {
    padding: 0.3rem;
}