body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 60rem;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
