body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: none !important;
}