@import 'button';
@import 'progress';

:root {
    --accent-blue: #06acfd;
    --accent-red: #e83450;
    --accent-red-bright: #ff0e32;
    --accent-purple: #9400ff;
    --accent-purple-bright: #b300ff;
    --accent-primary: var(--accent-blue);
    --accent-secondary: var(--accent-red);
    --accent-pink: #df61ff;
    --accent-gradient: linear-gradient(to right, #08ffff, #e55eff) fixed;
    --accent-gradient-faint: linear-gradient(to right, rgba(8, 255, 255, 0.15), rgba(229, 94, 255, 0.15));

    --bg: #0b0f15;
    --panel-bg: #14171e;
    --panel-header-bg: #252833;
    --panel-footer-bg: #111118;
}

body, #app-root {
    font-size: 14px;
    font-family: "Source Han Sans", "源ノ角ゴシック", "Hiragino Sans", "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Noto Sans", "Noto Sans CJK JP", "メイリオ", Meiryo, "游ゴシック", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    background-color: var(--bg);
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    opacity: 1;
}

* {
    box-sizing: border-box;
}

a {
    color: #00B7FF;
}

input[type=text], input:not([type]), textarea, select {
    color: white;
    border: none;
    border-bottom: 0.2rem solid #364962;
    transition: border 0.2s;
    border-radius: 0.1rem;
    background: rgba(11,15,21,0.8);

    &:focus {
        border-bottom-color: #3db4f2;
    }
}
input[type=text], input:not([type]), textarea, select {
    font-size: 1.1rem;
    height: 2.5rem;
}
textarea {
    font-size: 0.7rem;
}
hr {
    color: white;
}

label {
    font-weight: bold;
}

@mixin base-button($bg) {
    button:not(.primary):not(.galaxy):not(.danger):enabled {
        background: $bg;
        &:hover:not(:disabled) {
            background: lighten($bg, $hoverLightenPercent);
        }
    }
    button:disabled {
        background: darken($bg, 30%);
    }
}
.panel {
    background: var(--panel-bg);
    @include base-button(#4a556054);
}
.header, header {
    background: var(--panel-header-bg);
    @include base-button(#4a556054);
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 0.2rem solid transparent;

    &:hover {
        border-bottom-color: var(--accent-purple);
    }
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
